.customers{
    width: 80%;
}

.tableContainer{
    width: 100%;
    height: 80rem;
    overflow-y: hidden;
    overflow-y: scroll;
   
   
 
}

.table{
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    scroll-behavior: smooth;
    height: 100vh;
    margin-top: 3rem;
 
    
    
}

.tr{
    background-color: var(--white);

    

    
}

.thead{
    
    
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    position: sticky; /* Hace que el encabezado se quede fijo */
    top: 0; 
    z-index: 1;
   
    
}

.btnNewCustomer{
    padding: 0 2rem ;
    margin-bottom: 3rem;
   
    
}

.btnNewCustomer a{
    padding: 1.5rem 2rem ;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white);
   background-color: green;
    font-family: bold;
    text-transform: uppercase;
    
}

.btnNewCustomer a:hover{
    background-color: rgb(99, 193, 99);
    transition: all ease-in-out 300ms;
}

.name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}









