html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--secondary);


  }

img{
 max-width: 100%;
 display: block;
}

  /*usar siempre para centar los elemmentos*/



  /* indica a todas las imgenes a tomar a medida de su div */
  img {
    max-width: 100%;
    display: block;
  }

  

  :root {
    --primary: #6680a1;
    --secondary:rgb(243 244 246);
    --black: #262626;
    --white: #FFF;

  }

  [class*="contenedor"], 
main {
  width: 80%;
  margin: 0 auto;
}
[class*="heading"] {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: black;
  margin: 5rem 0;
  text-transform: uppercase;
}
