.encabezado{

    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 0;
    margin-top: 5rem;
    
    
}

.newInvoiceBtn{
  width: 20rem;
  align-items: flex-end;
  padding: 0.5rem 0;
  background-color: var(--primary);
  text-align: center;
  border-radius: 0.8rem;
  right: 50%;
  
}

.encabezado a{
  color: white;
  font-size: 2rem;
  text-decoration: none;
  

}

.encabezado select{
  width: 25rem;
  text-align: center;
  padding: 1rem 0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  font-size: 2rem;
  color:#8d9096;
 

}

.encabezado input{
  width: 25rem;
  text-align: center;
  padding: 1rem 0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  font-size: 1.8rem;
 color:#8d9096;
 

}

.encabezado label{
  color: #8d9096;
  font-size: 2rem;
  margin-right: 1rem;
}




.modalContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(243 244 246);
    color: black;
    padding: 5rem;
    z-index: 100;
    position: fixed;
    
    
}

.close{
    width: 75%;
    
    display: flex;
    font-weight: bold;
    color: var(--primary);
    flex-direction: row;
    text-align: right;
    
    
}



.close p{
    font-size: 3.5rem;
    cursor: pointer;
    line-height: 0;
    
}

.modalContainer form{
    
    width: 90%;
    height: 90%;
    
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    border: none;
    font-weight: bold;
    justify-content: center;


   

  
}

.dates{
    display: flex;
    gap: 5rem;
}

.form label{
    font-size: 2rem;
}
.inputName input{
    width: 50rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    
}

.inputDates input{
    width: 22.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

.inputName{
    display: flex;
    flex-direction: column;
    
}

.btnClose{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
   
}

.btnClose input{
    width: 50rem;
    background-color: rgb(156 163 175);
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
   
 
}

.btnClose input:hover{
    background-color: rgb(77 124 15);
    transition: ease-in-out 300ms;

    color: white;
 
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--primary);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed; /* Posiciona el loader de manera fija */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el desplazamiento para centrarlo exactamente */
    z-index: 1000; /* Asegura que el loader esté sobre otros elementos */
 
  
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 


  .modalInvoices{
    background-color: black;
    width: 50rem;
    height: auto;
    color: white;
    font-size: 2.5rem;
    opacity: 0.8;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 40%;
    line-height: normal;
    max-width: 600px; /* Ajusta esto según sea necesario */
  margin: 0 auto;
  padding: 20px;

  
  

  }

  .btnsModal{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: 2rem;
    
  }

  


  .btnsModal button{
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    
  }

  .btnsModal .BgColorRed:hover{
    background-color: red;
    color: white;
    transition: ease 300ms;
    
  }

  
  .btnsModal .BgColorGreen:hover{
    background-color: green;
    color: white;
    transition: ease 300ms;
    
  }

  .modalInvoices svg{
    color: green;
    width: 5rem;
  }
 
  .modalInvoices p{
    font-size: 2rem;
    line-height: 1.5;
    word-wrap: break-word; /* Permite el wrap de palabras largas */
    white-space: normal; /* Asegura que el texto haga wrap automáticamente */
    text-align: center; /* Opcional: centra el texto */
    
   
    
    
  }

  .modalInvoiceError svg{
    color: red;
    width: 5rem;
  }
